Wifi WaterSensor Node-Red Flow.txt
[{"id":"5354e5f5.a6259c","type":"ui_button","z":"12904a7e.0b55c6","name":"","group":"7030aece.4ae11","order":3,"width":0,"height":0,"passthru":false,"label":"Restart SumpSensor-CPU","color":"","bgcolor":"#703633","icon":"","payload":"1","payloadType":"str","topic":"","x":168.01736450195312,"y":329.44455337524414,"wires":[["d0f58d.00265a7"]]},{"id":"c3099afb.ce4558","type":"mqtt out","z":"12904a7e.0b55c6","name":"","topic":"cmnd/SumpWaterSensorCPUrestart","qos":"2","retain":"","broker":"ce93ed0a.5ed4c","x":726.0174102783203,"y":331.4444179534912,"wires":[]},{"id":"fe514cf4.1aca5","type":"mqtt in","z":"12904a7e.0b55c6","name":"","topic":"stat/SumpWaterSensor/LWT","qos":"2","broker":"ce93ed0a.5ed4c","x":162.01737213134766,"y":226.55556297302246,"wires":[["7de98f81.b1a6e","62925028.623bc"]]},{"id":"7de98f81.b1a6e","type":"ui_text","z":"12904a7e.0b55c6","group":"7030aece.4ae11","order":1,"width":"0","height":"0","name":"SumpWaterSensor_status","label":"SumpWaterSensor Status:&nbsp","format":"{{msg.payload}}","layout":"row-center","x":440.4460144042969,"y":230.55555057525635,"wires":[]},{"id":"d171035c.fa911","type":"mqtt in","z":"12904a7e.0b55c6","name":"","topic":"stat/SumpWaterSensorInfo","qos":"2","broker":"ce93ed0a.5ed4c","x":150.017333984375,"y":276.6666784286499,"wires":[["62925028.623bc"]]},{"id":"62925028.623bc","type":"function","z":"12904a7e.0b55c6","name":"Process Info","func":"var d = new Date();\nvar temp = d.toDateString();\ntemp = temp+\", \"+d.toLocaleTimeString()\nif(msg.topic==\"stat/SumpWaterSensor/LWT\"){\n    msg.Status=msg.payload;\n    if(msg.payload==\"Offline\"){\n        global.set(\"SumpWaterSensorCPUOfflineCount\",global.get(\"SumpWaterSensorCPUOfflineCount\")+1);\n        global.set(\"SumpWaterSensorCPULastOffline\",temp);\n    }\n} else if(msg.topic.indexOf(\"Info\")>-1){\n    var UptimeJSON=JSON.parse(msg.payload);\n    var Device_Uptime=UptimeJSON.Uptime||\"N/A\";\n    if (Device_Uptime!==\"N/A\"){\n        var UpDay=Math.floor(Device_Uptime/86400);\n        Device_Uptime%=86400;\n        var UpHour=Math.floor(Device_Uptime/3600);\n        Device_Uptime%=3600;\n        var UpMin=Math.floor(Device_Uptime/60);\n        var UpSec=Math.floor(Device_Uptime%60);\n        var UptimeStr=`Uptime: ${UpDay}d:${UpHour}h:${UpMin}m:${UpSec}s`;\n        if (msg.topic.indexOf(\"SumpWaterSensor\")>-1) {\n            global.set(\"SumpWaterSensorCPUUptime\",UptimeStr);\n        }\n    }\n}\n\nmsg.payload=global.get(\"SumpWaterSensorCPUOfflineCount\").toString()||\"-\";\nmsg.LastOffline=global.get(\"SumpWaterSensorCPULastOffline\")||\"-\";\nmsg.uptime=global.get(\"SumpWaterSensorCPUUptime\");\nreturn msg;\n","outputs":"1","noerr":0,"x":393.3655776977539,"y":274.86098766326904,"wires":[["ca153d7c.ba426"]]},{"id":"ca153d7c.ba426","type":"ui_template","z":"12904a7e.0b55c6","group":"7030aece.4ae11","name":"SumpWaterSensorCPU","order":2,"width":"6","height":"4","format":"<div align=\"center\" overflow-y=\"hidden\">\n\t<p>Offline Counts:</p>\n\t<p ng-style=\"{color: 'green'}\">{{msg.payload}}\n    </p>\n\t<p>Last Offline Time:</p>\n\t<p ng-style=\"{color: 'green'}\">{{msg.LastOffline}}\n    </p>\n\t<p ng-style=\"{color: '#1b9eb2'}\">{{msg.uptime}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700.8743133544922,"y":278.6665287017822,"wires":[[]]},{"id":"6aca37de.52b368","type":"mqtt in","z":"12904a7e.0b55c6","name":"","topic":"tele/SumpWaterSensor","qos":"2","broker":"ce93ed0a.5ed4c","x":140.0173568725586,"y":180.00010013580322,"wires":[["9ba2ef3a.3513f","3a959c9e.b23524"]]},{"id":"9ba2ef3a.3513f","type":"ui_text","z":"12904a7e.0b55c6","group":"7030aece.4ae11","order":1,"width":"0","height":"0","name":"SumpWaterSensor_state","label":"Sensor State:&nbsp","format":"{{msg.payload}}","layout":"row-center","x":442.01739501953125,"y":183.00010108947754,"wires":[]},{"id":"d0f58d.00265a7","type":"function","z":"12904a7e.0b55c6","name":"GlobalSet","func":"//global.set(\"NumMovements\",0);\nglobal.set(\"SumpWaterSensorCPUOfflineCount\",0);\nglobal.set(\"SumpWaterSensorCPULastOffline\",\"-\");\nreturn msg;","outputs":1,"noerr":0,"x":432.0173797607422,"y":336.00009536743164,"wires":[["c3099afb.ce4558"]]},{"id":"3a959c9e.b23524","type":"function","z":"12904a7e.0b55c6","name":"SumpWaterState","func":"if (msg.payload==\"WET\") {\n    msg.payload=\"Warning, sump pump water level is too high, please check!\";\n} else {\n    msg.payload=\"sump pump water level is back to normal\";\n}\nreturn msg;\n","outputs":"1","noerr":0,"x":367.01740646362305,"y":137.00001335144043,"wires":[["2acca03c.6fd8","ab02621c.ce569"]]},{"id":"fc4bd5da.75f678","type":"chromecast-play","z":"12904a7e.0b55c6","name":"","url":"","contentType":"","ip":"","x":941.0173072814941,"y":43.010414123535156,"wires":[[]]},{"id":"e3359390.5818a","type":"function","z":"12904a7e.0b55c6","name":"Kitchen","func":"var txt=msg.payload;\nmsg.payload = {\n    ip: '192.168.1.11',\n    url: 'http://translate.google.com/translate_tts?ie=UTF-8&total=1&idx=0&client=tw-ob&q='+txt+'&tl=En-us',\n    contentType: 'audio/mp3'\n}\nreturn msg;","outputs":1,"noerr":0,"x":779.7315368652344,"y":40.15328598022461,"wires":[["fc4bd5da.75f678"]]},{"id":"874b9f46.03c07","type":"function","z":"12904a7e.0b55c6","name":"Basement","func":"var txt=msg.payload;\nmsg.payload = {\n    ip: '192.168.1.12',\n    url: 'http://translate.google.com/translate_tts?ie=UTF-8&total=1&idx=0&client=tw-ob&q='+txt+'&tl=En-us',\n    contentType: 'audio/mp3'\n}\nreturn msg;","outputs":1,"noerr":0,"x":793.0822372436523,"y":77.02083683013916,"wires":[["774c489f.dbd488"]]},{"id":"774c489f.dbd488","type":"chromecast-play","z":"12904a7e.0b55c6","name":"","url":"","contentType":"","ip":"","x":954.3680076599121,"y":79.8779649734497,"wires":[[]]},{"id":"36bf3744.dd9388","type":"function","z":"12904a7e.0b55c6","name":"Bedroom2","func":"var txt=msg.payload;\nmsg.payload = {\n    ip: '192.168.1.13',\n    url: 'http://translate.google.com/translate_tts?ie=UTF-8&total=1&idx=0&client=tw-ob&q='+txt+'&tl=En-us',\n    contentType: 'audio/mp3'\n}\nreturn msg;","outputs":1,"noerr":0,"x":811.0822067260742,"y":114.02084636688232,"wires":[["4724f8c2.b57a28"]]},{"id":"4724f8c2.b57a28","type":"chromecast-play","z":"12904a7e.0b55c6","name":"","url":"","contentType":"","ip":"","x":962.367977142334,"y":116.87797451019287,"wires":[[]]},{"id":"80fbf0dc.4c873","type":"function","z":"12904a7e.0b55c6","name":"MBR","func":"var txt=msg.payload;\nmsg.payload = {\n    ip: '192.168.1.14',\n    url: 'http://translate.google.com/translate_tts?ie=UTF-8&total=1&idx=0&client=tw-ob&q='+txt+'&tl=En-us',\n    contentType: 'audio/mp3'\n}\nreturn msg;","outputs":1,"noerr":0,"x":801.082145690918,"y":153.02086734771729,"wires":[["c02de4fa.c9c338"]]},{"id":"c02de4fa.c9c338","type":"chromecast-play","z":"12904a7e.0b55c6","name":"","url":"","contentType":"","ip":"","x":973.3680229187012,"y":153.87795162200928,"wires":[[]]},{"id":"2acca03c.6fd8","type":"delay","z":"12904a7e.0b55c6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"9","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":595.874340057373,"y":127.34387588500977,"wires":[["874b9f46.03c07","36bf3744.dd9388","80fbf0dc.4c873","e3359390.5818a"]]},{"id":"ab02621c.ce569","type":"pushbullet","z":"12904a7e.0b55c6","config":"","pushtype":"note","title":"","chan":"asusanto","name":"","x":590.0833015441895,"y":58.125,"wires":[]},{"id":"7030aece.4ae11","type":"ui_group","z":"","name":"Sump Water Sensor","tab":"c26485cd.d6f268","order":3,"disp":true,"width":"6"},{"id":"ce93ed0a.5ed4c","type":"mqtt-broker","z":"","broker":"192.168.1.30","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"armtronix_mqtt","birthQos":"0","birthPayload":""},{"id":"c26485cd.d6f268","type":"ui_tab","z":"","name":"Other","icon":"dashboard","order":5}]